.Signup{

    background-color: #ce8e0d;
    height: 100vh;
    width: 100%;
    font-family: Fira Sans;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    background-color: rgb(246, 248, 240);
    height: 85%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sign{
    width: 45%;
    height:100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px 0 0 15px;
}
.logo{
    width: 50px;
    height:50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.first{
    font-size: 24px;
    font-family: Fira Sans;
    font-weight: 500;
    width: 100%;
    margin-bottom: 7%;
}

.second{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 9%;
    border-radius: 7px;
    background-color: rgb(243, 243, 253);
    transition: all 1s ease-in-out;
     
}
.icon{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: white;
}

.icon2{
    height: 45px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.second:hover{
    background-color: #d5e6f6;
}

.third{
    margin-top: 5%;

}
.fname{
    width: 70%;
    height: 50%;
    margin-bottom: 5%;
    font-family: Fira Sans;
}

.fourth{
    width: 70%;
    padding: 3px;
    color:white;
    font-family: Fira Sans;
    margin-top: 10%;
    margin-bottom: 3%;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    align-content: center;
    background-color: blue;
    overflow: hidden;
    position: relative;
    transition: all 1s ease-in-out;
}
.fourth:hover{
    background-color: #d5e6f6;
    color: black;
}

.img{
    width: 55%;
    background-image: url("../public/assets/vector.jpg");
    background-size: cover;
    border-radius: 0 15px 15px 0;
}